-r flask-api/requirements.txt
-r flask-api/requirements-export.txt

boto3==1.36.3
ipykernel==7.3.0
matplotlib==3.11.1
nbclient==0.11.0
nbformat==5.11.1
polars==1.31.0
psycopg2-binary==2.9.10
pyspark==3.5.9
pytest==8.4.1
